i {
    font-size: 22px;
}

body {
    background-color: #1e242b;
    color: #EEEFF1;
}

.navbar {
    background-color: #14181c;
    color: #BDD4E7;
}

.navbar-brand {
    color: #EEEFF1;
}

.nav-link {
    color: #9AAABA;
}

.searchbar {
    height: 2.5rem;
    font-size: 1.2rem;
    line-height: 1.6;
}

.ac-results {
    z-index: 100;
    max-height: 250px;
}

.ac-result {
    max-height: 50px;
}

.deselect {
    top: 0px;
    right: 5px;
}

.lighter-bg {
    background-color: #303c47;
}

.btn-green {
    background-color: #19ae2d;
    color: #EEEFF1;
}
