i {
    font-size: 22px;
}

body {
    min-height: 100vh;
    background: rgb(20, 24, 28);
    background: linear-gradient(180deg, rgba(30, 36, 43, 1) 0%, rgba(20, 24, 28, 1) 400px, rgba(20, 24, 28, 1) 410px);
    background-repeat: repeat-x;
    color: #EEEFF1;
}

.navbar {
    background-color: #14181c;
    color: #BDD4E7;
}

.searchbar {
    height: 2.5rem;
    font-size: 1.2rem;
    line-height: 1.6;
}

.ac-results {
    z-index: 100;
    max-height: 250px;
}

.ac-result {
    min-height: 60px;
}

.deselect {
    top: 0px;
    right: 5px;
}

.lighter-bg {
    background-color: #303c47;
}

.search-area {
    max-height: 40px;
}

.poster {
    width: 150px;
    height: 225px;
}
